
@font-face {
    font-family: segmented; /* set name */
    src: url(16segment.otf.woff2); /* url of the font */
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.calculator {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 240px;
}
input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 2em;
    font-family:"segmented";
    padding-right: 10px;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
button {
    height: 50px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    background-color: #eee;
    cursor: pointer;
}
button:hover {
    background-color: #ddd;
}
.equals {
    background-color: #4CAF50;
    color: white;
}
.clear {
    background-color: #AF4C50;
    color: white;
}